body {
  font-family: "San Francisco", Helvetica, Arial;
  margin: 200px, 500px, 100px, 100px;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

li a {
  color: orange;
  text-decoration: none;
}
