body {
  max-width: 800px;
  margin: 40px 80px;
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

p, ul, li {
  font-weight: 300;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
}

li a {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: orange;
  text-decoration: none;
}
